header{
  display: flex;
  width: 100%;
  background-color: grey;
  border-bottom: 2px solid black;
}

header img{
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header h2{
  margin: auto;
}

nav{
  display: flex;
  width: 100%;
  margin-top: 15px;
}

nav button{
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav h2{
  margin: auto;
}

aside{
  border:1px solid black;
  width: 13%;
  text-align: center;
}

main{
  margin-left: 18%;
}

article{
  border: 1px solid black;
  border-radius: 25px;
  width: 90%;
  margin-bottom: 1%;
}

article h2{
  padding-left: 20%;
}

article p{
  padding-left: 20%;
  overflow: hidden;
}

#boton_eliminar{
  right: 0px;
}

#articulo_boton{
  border: 1px solid black;
  border-radius: 25px;
  width: 90%;
  margin-bottom: 1%;
}

#articulo_boton article{
  border: 0px;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 1%;
}